*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    background-color: $white;
    overflow-x: hidden;
}

:root {
    --swiper-theme-color: #FF73BB;  
}

html {
    scroll-behavior: smooth;
}

section {
    margin: 0;
    scroll-margin-top: 7rem;
}
